## Reading Data

In [69]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import glob
from IPython.display import display
import seaborn as sns

folder_path =  "D:\Desktop\project\data_sta4042_project\data"  # location of the data
all_files = glob.glob(os.path.join(folder_path, "*.csv")) # read all files

# Use a list to store all DataFrames
df_list = []

# Iterate over all files
for file in all_files:
    df = pd.read_csv(file, sep=';')
    df.columns = [col.capitalize() for col in df.columns]
    # Replace all -1 values with NaN
    df.replace(-1, np.nan, inplace=True)
    df_list.append(df)

# Combine all DataFrames
combined_data = pd.concat(df_list, axis=0, ignore_index=True)
display(combined_data.head(10))

,Channelnumber,Id,Navstatus,Slotoffset,Slotnumber,Sto,Slotincrement,Keepflag,Ts,Lat,...,Sog,Thresholdsog,Course,Heading,Changeheading,Repeatindicator,Specialmanoeuvre,Aisversion,Toa,Difftoa
0,1,5,NaN,NaN,NaN,NaN,NaN,NaN,1711,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,10.0,93352.297516,0.0000
1,2,5,NaN,NaN,NaN,NaN,NaN,NaN,1674,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,10.0,94431.318481,1079.0210
2,1,5,NaN,NaN,NaN,NaN,NaN,NaN,1675,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,10.0,94791.343842,360.0254
3,1,5,NaN,NaN,NaN,NaN,NaN,NaN,1707,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,10.0,171051.778839,76260.4350
4,2,5,NaN,NaN,NaN,NaN,NaN,NaN,1681,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,10.0,171411.082489,359.3036
5,2,5,NaN,NaN,NaN,NaN,NaN,NaN,1692,NaN,...,NaN,2,NaN,NaN,NaN,NaN,NaN,10.0,172131.377350,720.2949
6,1,5,NaN,NaN,NaN,NaN,NaN,NaN,1718,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,10.0,172492.058929,360.6816
7,2,5,NaN,NaN,NaN,NaN,NaN,NaN,1649,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,10.0,172850.218689,358.1598
8,2,5,NaN,NaN,NaN,NaN,NaN,NaN,1674,NaN,...,NaN,2,NaN,NaN,NaN,NaN,NaN,10.0,173570.881866,720.6632
9,1,5,NaN,NaN,NaN,NaN,NaN,NaN,1606,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,10.0,173929.062317,358.1805

## Preprocessing Data

possible features

In [70]:
#  define the feature columns that I want to investigate
features = ['Navstatus', 'Sog', 'Heading', 'Changeheading', 'Specialmanoeuvre', 'Repeatindicator', 'Course','Slotnumber']
ids = [5, 3, 1, 2]

#  create an dictionary to store the numbers of NaN under different id values.
missing_values = {}

for feature in features:
    missing_values[feature] = {}
    for id_value in ids:
        missing_count = combined_data[
            (combined_data['Id'] == id_value) & 
            (combined_data[feature].isna())
        ].shape[0]
        missing_values[feature][f'id_{id_value}'] = missing_count

# print out the result
for feature, id_missing in missing_values.items():
    print(f'Feature: {feature}')
    for id_key, missing_count in id_missing.items():
        print(f'  Missing count for {id_key}: {missing_count}')

Feature: Navstatus
  Missing count for id_5: 123009
  Missing count for id_3: 0
  Missing count for id_1: 0
  Missing count for id_2: 0
Feature: Sog
  Missing count for id_5: 123009
  Missing count for id_3: 0
  Missing count for id_1: 0
  Missing count for id_2: 0
Feature: Heading
  Missing count for id_5: 123009
  Missing count for id_3: 83757
  Missing count for id_1: 1231343
  Missing count for id_2: 8
Feature: Changeheading
  Missing count for id_5: 123009
  Missing count for id_3: 83757
  Missing count for id_1: 1231343
  Missing count for id_2: 8
Feature: Specialmanoeuvre
  Missing count for id_5: 123009
  Missing count for id_3: 0
  Missing count for id_1: 0
  Missing count for id_2: 0
Feature: Repeatindicator
  Missing count for id_5: 123009
  Missing count for id_3: 0
  Missing count for id_1: 0
  Missing count for id_2: 0
Feature: Course
  Missing count for id_5: 123009
  Missing count for id_3: 0
  Missing count for id_1: 0
  Missing count for id_2: 0
Feature: Slotnumber
  Missing count for id_5: 123009
  Missing count for id_3: 386168
  Missing count for id_1: 1347876
  Missing count for id_2: 51

Filling NaN by Properties of Features

In [71]:
# logical filling the NaN
combined_data.loc[combined_data['Id'] == 5, 'Navstatus'] = 1
combined_data.loc[combined_data['Id'] == 5, 'Sog'] = 0
combined_data.loc[combined_data['Id'] == 5, 'Heading'] = 0
combined_data.loc[combined_data['Id'] == 5, 'Changeheading'] = 0
combined_data.loc[combined_data['Id'] == 5, 'Specialmanoeuvre'] = 1
combined_data.loc[combined_data['Id'] == 5, 'Course'] = 0
combined_data.loc[combined_data['Id'] == 5, 'Repeatindicator'] = 0

display(combined_data.head(10)) # skip if don't want to check the data frame

,Channelnumber,Id,Navstatus,Slotoffset,Slotnumber,Sto,Slotincrement,Keepflag,Ts,Lat,...,Sog,Thresholdsog,Course,Heading,Changeheading,Repeatindicator,Specialmanoeuvre,Aisversion,Toa,Difftoa
0,1,5,1.0,NaN,NaN,NaN,NaN,NaN,1711,NaN,...,0.0,0,0.0,0.0,0.0,0.0,1.0,10.0,93352.297516,0.0000
1,2,5,1.0,NaN,NaN,NaN,NaN,NaN,1674,NaN,...,0.0,0,0.0,0.0,0.0,0.0,1.0,10.0,94431.318481,1079.0210
2,1,5,1.0,NaN,NaN,NaN,NaN,NaN,1675,NaN,...,0.0,0,0.0,0.0,0.0,0.0,1.0,10.0,94791.343842,360.0254
3,1,5,1.0,NaN,NaN,NaN,NaN,NaN,1707,NaN,...,0.0,0,0.0,0.0,0.0,0.0,1.0,10.0,171051.778839,76260.4350
4,2,5,1.0,NaN,NaN,NaN,NaN,NaN,1681,NaN,...,0.0,0,0.0,0.0,0.0,0.0,1.0,10.0,171411.082489,359.3036
5,2,5,1.0,NaN,NaN,NaN,NaN,NaN,1692,NaN,...,0.0,2,0.0,0.0,0.0,0.0,1.0,10.0,172131.377350,720.2949
6,1,5,1.0,NaN,NaN,NaN,NaN,NaN,1718,NaN,...,0.0,0,0.0,0.0,0.0,0.0,1.0,10.0,172492.058929,360.6816
7,2,5,1.0,NaN,NaN,NaN,NaN,NaN,1649,NaN,...,0.0,0,0.0,0.0,0.0,0.0,1.0,10.0,172850.218689,358.1598
8,2,5,1.0,NaN,NaN,NaN,NaN,NaN,1674,NaN,...,0.0,2,0.0,0.0,0.0,0.0,1.0,10.0,173570.881866,720.6632
9,1,5,1.0,NaN,NaN,NaN,NaN,NaN,1606,NaN,...,0.0,0,0.0,0.0,0.0,0.0,1.0,10.0,173929.062317,358.1805

Investigate NaN in Slotincrement

In [72]:
# Count the number of NaN in SlotIncrement  
total_nan_count = combined_data['Slotincrement'].isna().sum()

# select the NaN OF Slotnumber when Id != 3 
nan_count_id_not_3 = combined_data[(combined_data['Id'] != 3) & (combined_data['Slotincrement'].isna())].shape[0]

# calculate the ratio
nan_proportion = (nan_count_id_not_3 / total_nan_count) * 100 if total_nan_count > 0 else 0

# output the results
print(f" total number of NaN in Slotincrement : {total_nan_count}")
print(f"when Id != 3 ,Amount of NaN in SlotIncrement: {nan_count_id_not_3}")
print(f"when Id != 3 ,NaN amount in SlotIncrement divided by all NaN in slotincrement: {nan_proportion:.2f}%")

combined_data['Slotincrement'] = combined_data['Slotincrement'].fillna(0)
display(combined_data.head(10)) # skip if don't want to check the data frame

 total number of NaN in Slotincrement : 2243323
when Id != 3 ,Amount of NaN in SlotIncrement: 2243323
when Id != 3 ,NaN amount in SlotIncrement divided by all NaN in slotincrement: 100.00%

,Channelnumber,Id,Navstatus,Slotoffset,Slotnumber,Sto,Slotincrement,Keepflag,Ts,Lat,...,Sog,Thresholdsog,Course,Heading,Changeheading,Repeatindicator,Specialmanoeuvre,Aisversion,Toa,Difftoa
0,1,5,1.0,NaN,NaN,NaN,0.0,NaN,1711,NaN,...,0.0,0,0.0,0.0,0.0,0.0,1.0,10.0,93352.297516,0.0000
1,2,5,1.0,NaN,NaN,NaN,0.0,NaN,1674,NaN,...,0.0,0,0.0,0.0,0.0,0.0,1.0,10.0,94431.318481,1079.0210
2,1,5,1.0,NaN,NaN,NaN,0.0,NaN,1675,NaN,...,0.0,0,0.0,0.0,0.0,0.0,1.0,10.0,94791.343842,360.0254
3,1,5,1.0,NaN,NaN,NaN,0.0,NaN,1707,NaN,...,0.0,0,0.0,0.0,0.0,0.0,1.0,10.0,171051.778839,76260.4350
4,2,5,1.0,NaN,NaN,NaN,0.0,NaN,1681,NaN,...,0.0,0,0.0,0.0,0.0,0.0,1.0,10.0,171411.082489,359.3036
5,2,5,1.0,NaN,NaN,NaN,0.0,NaN,1692,NaN,...,0.0,2,0.0,0.0,0.0,0.0,1.0,10.0,172131.377350,720.2949
6,1,5,1.0,NaN,NaN,NaN,0.0,NaN,1718,NaN,...,0.0,0,0.0,0.0,0.0,0.0,1.0,10.0,172492.058929,360.6816
7,2,5,1.0,NaN,NaN,NaN,0.0,NaN,1649,NaN,...,0.0,0,0.0,0.0,0.0,0.0,1.0,10.0,172850.218689,358.1598
8,2,5,1.0,NaN,NaN,NaN,0.0,NaN,1674,NaN,...,0.0,2,0.0,0.0,0.0,0.0,1.0,10.0,173570.881866,720.6632
9,1,5,1.0,NaN,NaN,NaN,0.0,NaN,1606,NaN,...,0.0,0,0.0,0.0,0.0,0.0,1.0,10.0,173929.062317,358.1805

Conditional Filling NaN in Sto

In [73]:
# Group by 'Id' and calculate the mean of 'Sto' for filling
id_sto_mean = combined_data.groupby('Id')['Sto'].transform('mean')

# Filling rules: Directly use condition filtering for filling
combined_data.loc[(combined_data['Sto'].isna()) & (combined_data['Sog'] == 0), 'Sto'] = 6
combined_data.loc[(combined_data['Sto'].isna()) & (combined_data['Sog'] != 0), 'Sto'] = combined_data['Id'].map(
    combined_data.groupby('Id')['Sto'].mean())

display(combined_data.head(10)) # skip if don't want to check the data frame
print('Number of NaN in STO:', combined_data['Sto'].isna().sum())

,Channelnumber,Id,Navstatus,Slotoffset,Slotnumber,Sto,Slotincrement,Keepflag,Ts,Lat,...,Sog,Thresholdsog,Course,Heading,Changeheading,Repeatindicator,Specialmanoeuvre,Aisversion,Toa,Difftoa
0,1,5,1.0,NaN,NaN,6.0,0.0,NaN,1711,NaN,...,0.0,0,0.0,0.0,0.0,0.0,1.0,10.0,93352.297516,0.0000
1,2,5,1.0,NaN,NaN,6.0,0.0,NaN,1674,NaN,...,0.0,0,0.0,0.0,0.0,0.0,1.0,10.0,94431.318481,1079.0210
2,1,5,1.0,NaN,NaN,6.0,0.0,NaN,1675,NaN,...,0.0,0,0.0,0.0,0.0,0.0,1.0,10.0,94791.343842,360.0254
3,1,5,1.0,NaN,NaN,6.0,0.0,NaN,1707,NaN,...,0.0,0,0.0,0.0,0.0,0.0,1.0,10.0,171051.778839,76260.4350
4,2,5,1.0,NaN,NaN,6.0,0.0,NaN,1681,NaN,...,0.0,0,0.0,0.0,0.0,0.0,1.0,10.0,171411.082489,359.3036
5,2,5,1.0,NaN,NaN,6.0,0.0,NaN,1692,NaN,...,0.0,2,0.0,0.0,0.0,0.0,1.0,10.0,172131.377350,720.2949
6,1,5,1.0,NaN,NaN,6.0,0.0,NaN,1718,NaN,...,0.0,0,0.0,0.0,0.0,0.0,1.0,10.0,172492.058929,360.6816
7,2,5,1.0,NaN,NaN,6.0,0.0,NaN,1649,NaN,...,0.0,0,0.0,0.0,0.0,0.0,1.0,10.0,172850.218689,358.1598
8,2,5,1.0,NaN,NaN,6.0,0.0,NaN,1674,NaN,...,0.0,2,0.0,0.0,0.0,0.0,1.0,10.0,173570.881866,720.6632
9,1,5,1.0,NaN,NaN,6.0,0.0,NaN,1606,NaN,...,0.0,0,0.0,0.0,0.0,0.0,1.0,10.0,173929.062317,358.1805

Number of NaN in STO: 0

Adding a new column: old_slot_number

In [ ]:
 
# order dataframe by Id and TOA
combined_data = combined_data.sort_values(by=['Id', 'Toa']).reset_index(drop=True)

# calculate old slot number by the last row of TS  
combined_data['old_slot_number'] = combined_data['Ts'].shift(1) 

# Grouped by Id and calculate each category respectively
combined_data['old_slot_number'] = combined_data.groupby('Id')['Ts'].shift(1)

# fill missing values in SlotOffset 
combined_data.loc[combined_data['Slotoffset'].isna(), 'Slotoffset'] = (
    combined_data['Ts'] - combined_data['old_slot_number'] + 2250
)


display(combined_data.head(5)) # skip if don't want to check the data frame

,Channelnumber,Id,Navstatus,Slotoffset,Slotnumber,Sto,Slotincrement,Keepflag,Ts,Lat,...,Thresholdsog,Course,Heading,Changeheading,Repeatindicator,Specialmanoeuvre,Aisversion,Toa,Difftoa,old_slot_number
0,1,1,8.0,NaN,1980.0,2.0,0.0,NaN,1980,48.381330,...,0,0.000000,NaN,NaN,0.0,0.0,NaN,0.000000,0.0,NaN
1,1,1,8.0,2250.0,1980.0,2.0,0.0,NaN,1980,48.381330,...,0,0.000000,NaN,NaN,0.0,0.0,NaN,0.000000,0.0,1980.0
2,2,1,7.0,2250.0,1980.0,6.0,0.0,NaN,1980,48.098223,...,0,289.500000,101.0,0.0,0.0,0.0,NaN,0.003326,0.0,1980.0
3,1,1,15.0,2299.0,NaN,3.0,0.0,NaN,2029,48.382028,...,0,216.300003,NaN,NaN,0.0,0.0,NaN,1.318451,0.0,1980.0
4,1,1,0.0,2258.0,NaN,3.0,0.0,NaN,2037,48.326232,...,2,127.300003,NaN,NaN,0.0,0.0,NaN,1.518524,0.0,2029.0

Filling NaN in slotnumber

In [75]:
# ensure old_slot_number have been calculated
combined_data['old_slot_number'] = combined_data.groupby('Id')['Ts'].shift(1)

# fill NaN in SlotNumber
combined_data.loc[combined_data['Slotnumber'].isna(), 'Slotnumber'] = (
    combined_data['old_slot_number'] + combined_data['Slotoffset'] - 2250
)
display(combined_data.head(20)) # skip if don't want to check the data frame
print('Number of Slotnumebr NAN:', combined_data['Slotnumber'].isna().sum())

,Channelnumber,Id,Navstatus,Slotoffset,Slotnumber,Sto,Slotincrement,Keepflag,Ts,Lat,...,Thresholdsog,Course,Heading,Changeheading,Repeatindicator,Specialmanoeuvre,Aisversion,Toa,Difftoa,old_slot_number
0,1,1,8.0,NaN,1980.0,2.0,0.0,NaN,1980,48.381330,...,0,0.000000,NaN,NaN,0.0,0.0,NaN,0.000000,0.0,NaN
1,1,1,8.0,2250.0,1980.0,2.0,0.0,NaN,1980,48.381330,...,0,0.000000,NaN,NaN,0.0,0.0,NaN,0.000000,0.0,1980.0
2,2,1,7.0,2250.0,1980.0,6.0,0.0,NaN,1980,48.098223,...,0,289.500000,101.0,0.0,0.0,0.0,NaN,0.003326,0.0,1980.0
3,1,1,15.0,2299.0,2029.0,3.0,0.0,NaN,2029,48.382028,...,0,216.300003,NaN,NaN,0.0,0.0,NaN,1.318451,0.0,1980.0
4,1,1,0.0,2258.0,2037.0,3.0,0.0,NaN,2037,48.326232,...,2,127.300003,NaN,NaN,0.0,0.0,NaN,1.518524,0.0,2029.0
5,2,1,0.0,2258.0,2045.0,6.0,0.0,NaN,2045,48.098572,...,0,296.500000,208.0,0.0,0.0,0.0,NaN,1.740845,0.0,2037.0
6,2,1,0.0,2250.0,2045.0,6.0,0.0,NaN,2045,48.098572,...,0,296.500000,208.0,0.0,0.0,0.0,NaN,1.740845,0.0,2045.0
7,1,1,15.0,2277.0,2072.0,3.0,0.0,NaN,2072,48.314667,...,2,113.699997,NaN,NaN,0.0,0.0,NaN,2.459625,0.0,2045.0
8,1,1,5.0,2253.0,2075.0,3.0,0.0,NaN,2075,48.378817,...,2,141.199997,NaN,NaN,0.0,0.0,NaN,2.540253,0.0,2072.0
9,1,1,0.0,2272.0,2097.0,6.0,0.0,NaN,2097,48.300678,...,2,319.600006,NaN,NaN,0.0,0.0,NaN,3.119324,0.0,2075.0
10,1,1,0.0,2250.0,2097.0,6.0,0.0,NaN,2097,48.300678,...,2,319.600006,NaN,NaN,0.0,0.0,NaN,3.119324,0.0,2097.0
11,2,1,0.0,2252.0,2099.0,3.0,0.0,NaN,2099,48.312473,...,2,322.200012,NaN,NaN,0.0,0.0,NaN,3.180389,0.0,2097.0
12,2,1,0.0,2250.0,2099.0,3.0,0.0,NaN,2099,48.312473,...,2,322.200012,NaN,NaN,0.0,0.0,NaN,3.180389,0.0,2099.0
13,1,1,15.0,2251.0,2100.0,1.0,0.0,NaN,2100,48.379910,...,0,346.500000,NaN,NaN,0.0,0.0,NaN,3.197876,0.0,2099.0
14,2,1,0.0,2270.0,2120.0,6.0,0.0,NaN,2120,48.381595,...,0,283.500000,145.0,0.0,0.0,0.0,NaN,3.740295,0.0,2100.0
15,2,1,3.0,2288.0,2158.0,0.0,0.0,NaN,2167,48.386250,...,0,197.199997,179.0,0.0,0.0,0.0,NaN,4.998535,0.0,2120.0
16,1,1,15.0,2262.0,2179.0,3.0,0.0,NaN,2179,48.376538,...,2,329.100006,NaN,NaN,0.0,0.0,NaN,5.318359,0.0,2167.0
17,1,1,15.0,2215.0,2144.0,0.0,0.0,NaN,2216,48.382452,...,0,209.800003,NaN,NaN,0.0,0.0,NaN,6.300507,0.0,2179.0
18,2,1,0.0,47.0,13.0,4.0,0.0,NaN,13,48.385533,...,0,288.600006,216.0,0.0,0.0,0.0,NaN,7.557861,0.0,2216.0
19,1,1,0.0,2286.0,49.0,3.0,0.0,NaN,49,48.381193,...,0,247.899994,NaN,NaN,0.0,0.0,NaN,8.504517,0.0,13.0

Number of Slotnumebr NAN: 3

In [76]:
combined_data = combined_data.drop(columns= ['Heading','Changeheading', 'Thresholdsog','Lat','Lon', 'Course', 'Aisversion', 'Repeatindicator']) # Remove irrelevant columns
display(combined_data.head(5)) # skip if don't want to check the data frame

,Channelnumber,Id,Navstatus,Slotoffset,Slotnumber,Sto,Slotincrement,Keepflag,Ts,Sog,Specialmanoeuvre,Toa,Difftoa,old_slot_number
0,1,1,8.0,NaN,1980.0,2.0,0.0,NaN,1980,0.0,0.0,0.000000,0.0,NaN
1,1,1,8.0,2250.0,1980.0,2.0,0.0,NaN,1980,0.0,0.0,0.000000,0.0,1980.0
2,2,1,7.0,2250.0,1980.0,6.0,0.0,NaN,1980,0.1,0.0,0.003326,0.0,1980.0
3,1,1,15.0,2299.0,2029.0,3.0,0.0,NaN,2029,0.0,0.0,1.318451,0.0,1980.0
4,1,1,0.0,2258.0,2037.0,3.0,0.0,NaN,2037,11.7,0.0,1.518524,0.0,2029.0